html{
    scroll-behavior: smooth ;
}

ul{
    list-style-type: circle;
}

li, p{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6vw;
}

th a:hover{
    background-color: wheat;
    color: brown;
}

th a {
    display: block;
    color: darkslateblue;
    text-align: center;
    padding: 0.5vw;
    text-decoration: saddlebrown;
    background-color: lightgoldenrodyellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.7vw;
}

th{
    float: inherit;
}

legend{
    color: black ;
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 2.1vw;
}

li a{
    color: black ;
    text-align: center;
    padding: 0.5vw;
    text-decoration: saddlebrown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6vw;
}

.infooter {
    color: greenyellow;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3vw;
    text-decoration-line: none;
}

footer{
    padding: 1vw;
    color: white;
    background-color: lightslategray;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3vw;
}

@keyframes rainbow{
    0%  { color: lightcoral;}
    10% { color: lightsalmon;}
    20% { color: lightgoldenrodyellow;}
    30% { color: lightgreen;}
    40% { color: skyblue; }
    50% { color: aliceblue;}
    60% { color: skyblue;}
    70% { color: lightgreen;}
    80% { color: lightgoldenrodyellow;}
    90% { color: lightsalmon;}
    100%{ color: lightcoral;}
}

span.myname{
    animation-name: rainbow;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    font-style: italic;
    font-family: candara;
}